anyascii==0.3.2
blinker==1.9.0
click==8.1.8
contractions==0.1.73
Flask==3.1.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
MarkupSafe==3.0.2
nltk==3.9.1
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pyahocorasick==2.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.11.6
scikit-learn==1.6.0
scipy==1.14.1
six==1.17.0
stop-words==2018.7.23
textblob==0.18.0.post0
textsearch==0.0.24
threadpoolctl==3.5.0
tqdm==4.67.1
tzdata==2024.2
Werkzeug==3.1.3
